<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Chat 1.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <div id="chat-box">
            {% for chat in chat_history %}
                <div class="user-message"><span>{{ chat.user }}</span></div>
                <div class="bot-message"><span>{{ chat.bot|safe }}</span></div>
            {% endfor %}
        </div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Escribe un mensaje..." onkeypress="handleKeyPress(event)">
            <button onclick="sendMessage()">➤</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
